<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MuseumBot</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Icons">
  <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
</head>
<body class="login">
  <form action="" method="post">
    <h1>MuseumBot</h1>
    <p class="msg">이름을 입력하고 '시작하기' 버튼을 눌러주세요.</p>
    <input type="text" name="username" placeholder="이름">
    <button type="submit">시작하기</button>
  </form>
  <footer class="fixed">@ Soft Computing & Interaction Lab. | GIST</footer>
</body>
</html>