<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MuseumBot</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Icons">
  <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
</head>
<body>
<div class="wrap">
  <header>
    <h1 class="logo"><a href="#">MuseumBot</a></h1>
    <h2 class="page-title">1. 자유 태스크</h2>
  </header>
  <section class="container">
    <div class="page-control">
      <a href="#" class="link-prev">
        <i class="material-icons">chevron_left</i>
        <span>이전</span>
      </a>
      <div class="paging">1/10</div>
      <a href="#" class="link-next">
        <span>다음</span>
        <i class="material-icons">chevron_right</i>
      </a>
    </div>
    <div class="flex">
      <article class="gallery-container">
        <div class="scroll-area">
          <div class="img-area">
            <img id="img-id" src="{{ url_for('static', filename='image/1.jpg') }}" alt="유물이미지">
          </div>
          <div class="description">
            <div class="title">학무늬 베개</div>
            <ul class="description-list">
              <li>고려高麗 13세기</li>
              <li>11.3x16x8.9cm</li>
              <li>1984 입수</li>
              <li>신안20336</li>
            </ul>
            <div class="text-area">
              넓적한 판板 6개를 잇대어 만든 베개이다. 베개의 윗면과 아랫면에는 원을 중심으로 안팎에 학과 구름무늬를 장식했다. 앞면과 뒷면에는 원 2개 안에 국화를 장식하고 그 바깥에 넝쿨무늬를 역상감逆象嵌[무늬의 바탕을 파내고 흰색 흙으로 메우는 기법] 기법으로 장식했다. 베개의 양쪽 마구리에 대는 베갯모 부분에는 커다란 구멍을 냈으며, 바탕 면에는 넝쿨무늬를 역상감 기법으로 장식했다. 이 넝쿨무늬는 학무늬 완[도230, 신안6554]처럼 이파리에 가는 선을 다시 그어 한층 더 섬세하게 표현했다. 규석 받침 자국이 한쪽 마구리 4곳에서만 확인되어서 옆으로 세워 가마에서 구웠음을 알 수 있다. 세련된 장식과 비율이 돋보이는 이 베개는 현재 남아 있는 고려청자 베개의 적은 수량을 감안할 때 자료로서 가치가 높다. 사용한 흔적은 보이지 않는다. 이것과 비슷한 베개가 강진이나 부안 일대의 가마터에서 나왔다.
            </div>
          </div>
        </div>
      </article>
      <article class="chat-container">
        <div class="chat-thread">
          <ul class="chat-list">
            <li class="chatbot">
              <span class="material-icons">smart_toy</span>
              무엇을 질문하시겠습니까?
            </li>
          </ul>
        </div>
        <div class="chat-input">
          <input type="text" id="question-text" placeholder="질문을 입력하세요.">
          <button id="btn-question">질문하기</button>
        </div>
      </article>
    </div>
  </section>
</div>
  <footer>@ Soft Computing & Interaction Lab. | GIST</footer>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" referrerpolicy="no-referrer"></script>
  <script src="../static/js/jquery-1.11.2.js"></script>
  <script src="js/chat.js"></script>
  <script>


    const question  = function() {
      const question = $('#question-text').val();
      const title = $('.title').text();
      if (question.length > 0) {
        $('.chat-list').append(`
      <li class="me">
        <span class="material-icons">face</span>
        ${question}
      </li>
    `)
        $(".chat-thread").animate({scrollTop: $('.chat-list').height()}, 1000);
      $.ajax({
        type: 'POST',
        async: false,                                  <!--[GET / POST] 둘중 하나 선택-->
        url: '/get_answer',
        data: {
          'question_id': question,
          'title': title
        },
        dataType: 'text',
        success: function (result) {
          // alert("result = " + result);
          answer(result)    // 답변 출력 (result == 답변 내용)
        },
        error: function (xtr, status, error) {
          alert(xtr + ":" + status + ":" + error);
        }

      });

      }

    }

    const answer = function(bot_answer){
    const answer = bot_answer//{{bot_answer|tojson}};
    if(answer.length > 0){
      $('.chat-list').append(`
        <li class="chatbot">
            <span class="material-icons">smart_toy</span>
            ${answer}
        </li>
        `)
      $('#question-text').val('')     // 텍스트 입력창 내용 지우기
    }
    $(".chat-thread").animate({ scrollTop: $('.chat-list').height() }, 1000);
  }

  $('#btn-question').on({
  click: question,
  // mouseup: question,
  keyup:function(key) {
    if(key.keyCode==13) {
      question()
    }
  }
  });

  $('#question-text').on({
  keyup:function(key) {
    if(key.keyCode==13) {
      question()
    }
  }
  });

  $('.logo').on('click',function(e){
    e.preventDefault();
    const result=confirm('메인으로 가시겠습니까?')
    if(result){
      location.href='main.html'
    }
  })

    $('.link-prev').on('click',function(e){
    e.preventDefault();
    const paging = $('.paging').text();
    if(paging !== '1/10') {
      $.ajax({
        type: 'POST',
        async: false,                                  <!--[GET / POST] 둘중 하나 선택-->
        url: '/prev_paging',
        data: {'paging': paging},
        dataType: 'json',
        success: function (result) {
          loadpaging(result);
        },
        error: function (xtr, status, error) {
          alert(xtr + ":" + status + ":" + error);
        }
      });
    }
  })

  $('.link-next').on('click',function(e){
    e.preventDefault();
    const paging = $('.paging').text();
    if(paging !== '10/10'){$.ajax({
        type: 'POST',
        async: false,                                  <!--[GET / POST] 둘중 하나 선택-->
        url: '/next_paging',
        data: {'paging': paging},
        dataType: 'json',
        success: function (result) {loadpaging(result);},
        error: function (xtr, status, error) {alert(xtr + ":" + status + ":" + error);}
      });
    }
    else{

      const result=confirm('마지막 해설입니다. 메인으로 돌아가서 \'2.지정태스크\'를 수행해주세요.')
      if(result) {
        location.href = 'main.html'
      }
    }
  })

    const loadpaging = function(result){
    $('.description-list').empty();
    $('.paging').text(result['paging']);
    $('#img-id').attr("src", result['img_url']);
    $('.title').text(result['title']);
    for(var i=0; i<result['li'].length; i++){
      const li_item = result['li'][i].replaceAll("-", "");
       $('.description-list').append(`
      <li> ${li_item}</li>
    `)
    }
    $('.text-area').text(result['text-area']);
    }



  </script>
</body>
</html>